{{ define "main" }}
<article class="article">
<div class="horizontal_meta">
<div class="instruments_horizontal">
  <h3>Инструменты:</h3>
  <div class="long_soplya_horizontal">
  </div>
  {{ $length := sub (len .Params.intstruments) 1 }}
  {{ range $elem_index, $elem_val := .Params.intstruments }}
      <p>{{ $elem_val }}</p>
      {{if lt $elem_index $length}}
      <div class="short_soplya_horizontal"></div>
      {{ end }}
  {{ end }}

</div>
<div class="tricks_horizontal">
  <h3>Приёмы:</h3>
  <div class="long_soplya_horizontal"></div>
{{ $length := sub	(len .Params.tricks) 1 }}
{{ range $elem_index, $elem_val := .Params.tricks }}
    <p>{{ $elem_val }}</p>
    {{if lt $elem_index $length}}
    <div class="short_soplya_horizontal"></div>
  </div>
    {{ end }}
{{ end }}
</div>

</div>
<div class="content">
{{ .Content }}
</div>
<div class="aside">
<div class="instruments">
<h2>Инструменты</h2>
<div class="long_soplya">
  <div class="long_soplya_right"></div>
  <div class="long_soplya_left"></div>
</div>
{{ $length := sub	(len .Params.intstruments) 1 }}
{{ range $elem_index, $elem_val := .Params.intstruments }}
    <p>{{ $elem_val }}</p>
    {{if lt $elem_index $length}}
    <div class="short_soplya">
      <div class="short_soplya_right"></div>
      <div class="short_soplya_left"></div>
    </div>
    {{ end }}
{{ end }}
</div>

<div class="tricks">
  <h2>Приёмы</h2>
  <div class="short_soplya_tricks">
  <div class="short_soplya_right"></div>
  <div class="short_soplya_left"></div>
</div>
{{ $length := sub	(len .Params.tricks) 1 }}
{{ range $elem_index, $elem_val := .Params.tricks }}
    <p>{{ $elem_val }}</p>
    {{if lt $elem_index $length}}
    <div class="short_soplya_tricks">
      <div class="short_soplya_right"></div>
      <div class="short_soplya_left"></div>
    </div>
    {{ end }}
{{ end }}
</div>
</div>
</article>


{{ end }}